# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
build
coverage
dist
/.pnp
.pnp.js
*debug*

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea

src/react-app-env.d.ts
/.vscode
/.vs
.favorites.json
/.scannerwork
test-report.xml

/src/apps/*/node_modules
/src/apps/*/build
/src/apps/*/coverage
/src/apps/*/dist

/src/packages/*/node_modules
/src/packages/*/build
/src/packages/*/coverage
/src/packages/*/dist

*.tsbuildinfo

/storybook-static

/docs